/CSPManagementSchema.json
/CSRProfilesSchema.json
/extendedDiagnosticsDownloadableReportSchema.json
/extendedDiagnosticsSchema.json
/firmwareActivationRequestSchema.json
/firmwareDownloadDetailedReportSchema.json
/firmwareDownloadRequestSchema.json
/InstallAlertSchema.json
/mandatoryAlertsReportSchema.json
/manualInstallAlertDetailedReportRequestSchema.json
/receiveGBCSMessageSchema.json
/rttRequestSchema.json
/serviceSchema.json
/updateSecurityCredentialsSchema.json
/userLoginRequestSchema.json
/userLoginResponseSchema.json
